@tailwind base;
@tailwind components;
@tailwind utilities;

.board {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    cursor: pointer;
    position: relative;
}

.x-hover:hover::after {
    content: "X";
    opacity: 0.4;
}

.o-hover:hover::after {
    content: "O";
    opacity: 0.4;
}

.strike-row-1 {
    width: 100%;
    height: 4px;
    top: 15%;
}

.strike-row-2 {
    width: 100%;
    height: 4px;
    top: 49%;
}

.strike-row-3 {
    width: 100%;
    height: 4px;
    top: 83%;
}

.strike-column-1 {
    width: 4px;
    height: 100%;
    left: 15%;
}

.strike-column-2 {
    width: 4px;
    height: 100%;
    left: 48.5%;
}

.strike-column-3 {
    width: 4px;
    height: 100%;
    left: 82.5%;
}

.strike-diagonal-1 {
    width: 90%;
    height: 4px;
    top: 50%;
    left: 5%;
    transform: skewY(45deg);
}

.strike-diagonal-2 {
    width: 90%;
    height: 4px;
    top: 50%;
    left: 3%;
    transform: skewY(-45deg);
}

